body {
	background-color: #FAFAFA;
}

button {
	background-color: #e7e7e7;
	text-align: center;
	margin-right: 37px;
	margin-bottom: 36px;
	width: 45px;
	height: 45px;
	outline: none;
}

.intersection {
	width: 20px;
	height: 20px;
}

.grid-unit {
	width: 80px;
	height: 80px;
	border: solid 1px;
	display: inline-block;
}

#board-container, #gridlines {
	position: absolute;
	top: 10;
	left: 50%;
	transform: translateX(-50%);
}

#main {
	position: relative;
	height: 700px;
}

#board-container {
	margin-top: 0px;
		width: 900px;

}

#board {
	position: relative;
	text-align: center;
	top: -15px;
	left: 15px;
}
#controls {
	position: relative;
margin: 0 auto;
width: 300px;
text-align: center}

button.w {
	border-radius: 50%;
	background-color: #CCCCCC;
	border: #CCCCCC;
}

button.b {
	border-radius: 50%;
	background-color: black;
	border: black;
}

button.none {
	border-radius: 50%;
	border: transparent;
	background-color: transparent;
	outline: none;
}


button.erase:active {
	background-color: #FFB2B2
}

button#shortcuts {
	min-width: 80px;
	height: 30px;
}

#shortcut-info {
	display: none;
	text-align: left;
}

ul {
	list-style-type: none;	
	margin-top: -30px;
	margin-left: 15px;
}
/*debugging*/
/*main {
	border: 1px red solid;
}

#board-container {
	border: 1px solid red;
}


button {
	border: 1px solid red;
}

button.none {
	border: black;
	background-color: green;
}
*/